.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  max-width: 1440px;
  margin: auto;
  margin-top: 15px;
}

.items_nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.items_nav button {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 1.25rem;
  color: var(--icones);
  cursor: pointer;
  transition: all .2s;
}

.items_nav button:hover {
  filter: brightness(1.3);
}


.titulo_logo {
  font-size: 1.625rem;
}

.dot_logo {
  font-size: 2.5rem;
  color: var(--roxo-claro);
}

