.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.navbar {
  width: 100%;
  height: 30%;
  background: var(--roxo);
  font-family: "Inclusive Sans", sans-serif;
}

.content {
  width: 100%;
  height: 70%;
  background: var(--fundo-principal);
}

.container {
  max-width: 1440px;
  margin: auto;
}

.card_menu {
  margin-top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.operacoes_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.operacoes_titulo {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #CFCFCF;
  padding: 0 0.625rem 0.625rem 0.625rem;
  color: var(--texto-terciario);
  font-size: 1.25rem;
}

.operacoes_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  height: 350px;
  overflow: auto;
  padding-bottom: 20px;
}

.botao_adicionar_item {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background: var(--roxo);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 100%;
  outline: none;
  border: 0;
  font-size: 30px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.botao_adicionar_item:hover {
  transform: scale(1.1);
  background: var(--roxo-claro);
}